/*Overall Styling*/
.Header {
    background-color: black;
    color: white

}
.NavList{
    background-color: black;
}
.pageheader{
    padding-left: 10px;
}
footer{
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
        }
html,body{
    height: 100%;
}
body{
    background-image: url(Images/65635832_2775469105798571_7479380822349316096_o.png);
    background-repeat: repeat;
}
.a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightgreen;
    text-decoration: none;
        }
/*Create Task Page*/
.headingC3{
    border-style: solid;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
}
.textbox{
    height:50px;
    width: 400px;
    font-size:14pt;
    border-style: solid;
    margin: 10px
}
.textboxdescription{
    height:300px;
    width: 400px;
    font-size:14pt;
    border-style: solid;
    margin: 10px;
}
.a1{
    background-color: black;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 150px;
    color: white;
    font-size: 20px;
}
.a1:hover{
    background-color: black;
    color: lightgreen;
}
/*Create Task*/
form{
    background-color: transparent;
    color: white;
    text-align: center;
    width: 70%;
    margin-left: 15%;

}
.button{
    background-color: black;
    color:lightgreen;
    padding: 5px;
    margin-right: 15px;
}
.button:hover{
    color: red;
    background-color: white;
}
.divform{
    margin: 10px;
}
button{
    text-align: center;

}

/*Taak Per Category*/
        table{
            border-collapse: collapse;
             text-align: center;
        }
        thead{
            background-color: black;
            color: white;
        }
        tfoot{
            background-color: black;
            color: white;
        }
        tbody{ background-color: white;

        }
        .listrow:hover{
            background-color: black;
            color: red;
        }
        .percentage{
            text-align: center;
        }
h3{ color:black}


/*Updating Progress Reports*/
.datafile{
            background-color: black;
            color:lightgreen;
            padding: 3px;
          }
